name: Pull Request

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Running tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Print Java version
        run: javac -version
      - name: Create a copy of the local.properties from the example file
        run: |
          cp "${GITHUB_WORKSPACE}/local.properties.example" "${GITHUB_WORKSPACE}/local.properties"
          chmod u+x "${GITHUB_WORKSPACE}/local.properties"
      - name: Create and configure google-services.json file
        env:
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
        run: echo $GOOGLE_SERVICES > app/google-services.json
      - name: Update the gradle wrapper permissions
        run: chmod +x ./gradlew
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path:
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Setup the Android SDK
        uses: android-actions/setup-android@v3
      - name: Execute tests
        run: ./gradlew testDebugUnitTest --continue
      - name: Upload Test Results
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-report
          path: '**/build/reports/tests/'
      - name: Remove generated local.properties file
        run: |
          rm "${GITHUB_WORKSPACE}/local.properties"
      - name: Remove generated google-services.json file
        run: |
          rm ./app/google-services.json

  build:
    name: Assemble Debug
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Print Java version
        run: javac -version
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path:
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Create a copy of the local.properties from the example file
        run: |
          cp "${GITHUB_WORKSPACE}/local.properties.example" "${GITHUB_WORKSPACE}/local.properties"
          chmod u+x "${GITHUB_WORKSPACE}/local.properties"
      - name: Create and configure google-services.json file
        env:
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
        run: echo $GOOGLE_SERVICES > app/google-services.json
      - name: Update the gradle wrapper permissions
        run: chmod +x ./gradlew
      - name: Setup the Android SDK
        uses: android-actions/setup-android@v3
      - name: Assemble debug
        run: ./gradlew assembleDebug
      - name: Upload generated APK
        uses: actions/upload-artifact@v4
        with:
          name: upnext-debug
          path: app/build/outputs/apk/debug/**.apk
      - name: Remove generated local.properties file
        run: |
          rm "${GITHUB_WORKSPACE}/local.properties"
      - name: Remove generated google-services.json file
        run: |
          rm ./app/google-services.json

  ktlint:
    name: Code Style (KtLint)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Create a copy of the local.properties from the example file
        run: |
          cp "${GITHUB_WORKSPACE}/local.properties.example" "${GITHUB_WORKSPACE}/local.properties"
          chmod u+x "${GITHUB_WORKSPACE}/local.properties"
      - name: Create and configure google-services.json file
        env:
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
        run: echo $GOOGLE_SERVICES > app/google-services.json
      - name: Update the gradle wrapper permissions
        run: chmod +x ./gradlew
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Setup the Android SDK
        uses: android-actions/setup-android@v3
      - name: Run KtLint
        run: ./gradlew ktlintCheck
      - name: Remove generated local.properties file
        run: |
          rm "${GITHUB_WORKSPACE}/local.properties"
      - name: Remove generated google-services.json file
        run: |
          rm ./app/google-services.json

  lint:
    name: Android Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Create a copy of the local.properties from the example file
        run: |
          cp "${GITHUB_WORKSPACE}/local.properties.example" "${GITHUB_WORKSPACE}/local.properties"
          chmod u+x "${GITHUB_WORKSPACE}/local.properties"
      - name: Create and configure google-services.json file
        env:
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
        run: echo $GOOGLE_SERVICES > app/google-services.json
      - name: Update the gradle wrapper permissions
        run: chmod +x ./gradlew
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Setup the Android SDK
        uses: android-actions/setup-android@v3
      - name: Run Android Lint
        run: ./gradlew lintDebug
      - name: Remove generated local.properties file
        run: |
          rm "${GITHUB_WORKSPACE}/local.properties"
      - name: Remove generated google-services.json file
        run: |
          rm ./app/google-services.json

  detekt:
    name: Code Quality (Detekt)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Create a copy of the local.properties from the example file
        run: |
          cp "${GITHUB_WORKSPACE}/local.properties.example" "${GITHUB_WORKSPACE}/local.properties"
          chmod u+x "${GITHUB_WORKSPACE}/local.properties"
      - name: Create and configure google-services.json file
        env:
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
        run: echo $GOOGLE_SERVICES > app/google-services.json
      - name: Update the gradle wrapper permissions
        run: chmod +x ./gradlew
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Setup the Android SDK
        uses: android-actions/setup-android@v3
      - name: Run Detekt
        run: ./gradlew detekt
      - name: Remove generated local.properties file
        run: |
          rm "${GITHUB_WORKSPACE}/local.properties"
      - name: Remove generated google-services.json file
        run: |
          rm ./app/google-services.json

  build-release:
    name: Assemble Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Create a copy of the local.properties from the example file
        run: |
          cp "${GITHUB_WORKSPACE}/local.properties.example" "${GITHUB_WORKSPACE}/local.properties"
          chmod u+x "${GITHUB_WORKSPACE}/local.properties"
      - name: Create and configure google-services.json file
        env:
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
        run: echo $GOOGLE_SERVICES > app/google-services.json
      - name: Update the gradle wrapper permissions
        run: chmod +x ./gradlew
      - name: Setup the Android SDK
        uses: android-actions/setup-android@v3
      - name: Assemble Release
        run: ./gradlew assembleRelease
      - name: Remove generated local.properties file
        run: |
          rm "${GITHUB_WORKSPACE}/local.properties"
      - name: Remove generated google-services.json file
        run: |
          rm ./app/google-services.json
